*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 300px;
    width: 210px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

}
img{
    height: 50%;
    width: 100%;
    object-fit: cover;
   object-position: middle;
}
#card>h1{
    font-size: 27px;
    text-align: center;
    margin: 7px;
    justify-content: center;
}
h2{
    justify-content: center;
    text-align: center;
    margin: 7px;
    color: red;
    font-size: 20px;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}
#button1{
    margin: 5px;
    padding: 7px;
    background-color: gray;
    color: #000;
}
#button2{
    margin: 5px;
    padding: 7px;
    background-color: rgb(0, 109, 128);
    color: white;
}



